
.example-spacer {
    flex: 1 1 auto;
  }

.headbar{
    box-shadow: 0 0px 2px rgba(0,0,0,0.30), 0 3px 5px rgba(0,0,0,0.22);
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 10;
  }

  mat-menu{
    width: 900px !important;
  }

  .menu_option{
    color: white !important;
    margin-left: 15% !important;
  }

  .container{
    margin-top: 5% !important;
    margin-left: 4% !important;
    margin-right: 4% !important;
    margin-bottom: 20% !important;
  }